
@{
	ViewBag.Title = "LendRecord";
}

<div class="container mt-5">
	<h2>借閱紀錄</h2>

<div id="Lendtbcontainer" >
	<table id="LendShowTable" class="table table-sm mt-5 ml-2">
		<thead class="thead-dark">
			<tr>
				<th scope="col">借閱日期</th>
				<th scope="col">借閱人員編號</th>
				<th scope="col">英文姓名</th>
				<th scope="col">中文姓名</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in (List<Book_Maintain.Models.BookRecord>)ViewBag.Lenddisplay)
			{
				<tr>
					<td>@item.LendDate</td>
					<td>@item.BookKeeperId</td>
					<td>@item.UserEname</td>
					<td>@item.UserCname</td>
				</tr>
			}
			@Html.ActionLink("返回", "Index")</td>
		</tbody>
	</table>
</div>


